docs/Oracle_19c_DataGuard_Installation_de.md
docs/Oracle_19c_DataGuard_Installation_ru.md
docs/Oracle_19c_DataGuard_Patching_de.md
docs/Oracle_19c_DataGuard_Patching_ru.md
inventory/dataguard-691-692/group_vars/oracle_servers/vault.yml
