docs/Oracle_19c_DataGuard_Installation_de.md
docs/Oracle_19c_DataGuard_Installation_ru.md
docs/Oracle_19c_DataGuard_Patching_en.md
docs/Oracle_19c_DataGuard_Patching_de.md
docs/Oracle_19c_DataGuard_Patching_ru.md
